
[mysqladmin]
user=root

[mysqld]
basedir=/Applications/mampstack-5.6.31-0/mysql
datadir="/Applications/mampstack-5.6.31-0/mysql/data"
port=3306
socket=/Applications/mampstack-5.6.31-0/mysql/tmp/mysql.sock
tmpdir=/Applications/mampstack-5.6.31-0/mysql/tmp
max_allowed_packet=32M
bind-address=127.0.0.1

character-set-server=UTF8
collation-server=utf8_general_ci
[client]
port=3306
socket=/Applications/mampstack-5.6.31-0/mysql/tmp/mysql.sock

default-character-set=UTF8
[manager]
port=3306
socket=/Applications/mampstack-5.6.31-0/mysql/tmp/mysql.sock
pid-file=/Applications/mampstack-5.6.31-0/mysql/tmp/manager.pid
default-mysqld-path=/Applications/mampstack-5.6.31-0/mysql/bin/mysqld.bin

